.profile-img {
  width: 200px;
  height: auto;
  margin: 10px;
}

.food-container {
  border: solid black 1px;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.food-icon {
  width: 70px; 
  height: auto;
  margin: 10px;
}

img {
    margin-top: 20px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;

    max-width: 100%;
    height: auto;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.profile-img {
  width: 250px;
  max-width: 90%;
  height: auto;
}



