.profile-img {
  width: 250px;
  height: auto;
  margin: 10px;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
}

.food-icon {
  width: 70px;
  height: auto;
  margin: 10px;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

img {
  margin-top: 20px;
}
