 #app {
      display: inline-block;
      padding: 10px;
      font-size: x-large;
      background-color: lightgreen;
    }

    body {
  background-color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  text-shadow: 2px 2px 10px white;
}

p {
  color: black;
  text-shadow: 1px 1px 5px gray;
  font-size: 18px;
}

.profile-img {
  width: 250px;
  height: auto;
  margin: 10px;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.container div {
  background-color: #330000;
  border: 1px solid white;
  width: 300px;
  margin: 10px;
  color: white;
  box-shadow: 0 0 15px white;
  padding: 15px;
}
